[submodule "behaverify"]
	path = behaverify
	url = https://github.com/verivital/behaverify.git
[submodule "evaluation/behaverify"]
	path = evaluation/behaverify
	url = https://github.com/verivital/behaverify.git
